<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>...:: Driver Map ::...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">map</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="ol-map" class="map-container"></div>

  <ion-grid class="status-grid">
    <ion-row>
      <ion-col *ngIf="taxiDriverFollowed">
        Sharing Current Location
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="success" (click)="track()" expand="full" class="ion-margin">Track My Location</ion-button>
  <ion-button color="danger" (click)="stopTracking()" expand="full" class="ion-margin">Stop Tracking</ion-button>

  <ion-row class="ion-padding-horizontal ion-padding-top" *ngIf="taxiDriverFollowed">
    <ion-text class="coords">My Latitude : {{lat}}</ion-text>
  </ion-row>
  <ion-row class="ion-padding-horizontal" *ngIf="taxiDriverFollowed">
    <ion-text class="coords">My Longitude : {{lon}}</ion-text>
  </ion-row>
</ion-content>